<h1>Timeboard</h1>
<h3> Welcome. You have administrative privileges. </h3>
<p> Please select an option below. </p>
<p>
  <%= button_to("Add Student", 'addStudent') %>
  <%= button_to("Edit Student", 'editStudent') %>
  <%= button_to("Remove Student", 'removeStudent') %>
</p>
<p>
</p>
<p>
  <%= button_to("Add Course", 'addCourse') %>
  <%= button_to("Edit Course", 'editCourse') %>
  <%= button_to("Remove Course", 'removeCourse') %>
</p>
