<h1>Timeboard</h1>
<h3> Welcome. You have administrative privileges. </h3>
<p> Please select an option below. </p>
<p>
  <%= link_to("Add Student", new_user_path) %>
  <%= link_to("Edit Student", 'editStudent') %>
  <%= link_to("Remove Student", 'removeStudent') %>
</p>
<p>
</p>
<p>
  <%= link_to("Add Course", new_course_path) %>
  <%= link_to("Edit Course", 'editCourse') %>
  <%= link_to("Remove Course", 'removeCourse') %>
</p>
<p>
  <%= link_to("Change Holidays", holidays_path) %>
</p>
