<script text="text/javascript"> 
  $(document).ready(function(){$('#select-all').click(function(event) {
    if(this.checked) {
      $(':checkbox').each(function() {
        this.checked = true;
      });
    } else {
      $(':checkbox').each(function() {
        this.checked = false;
      });
    }
  });
  });
</script>
<% if(@user_list.empty?) %>
<h1>No Users</hi>
<% else %>
<h1>Users</h1>
<%= form_tag({:controller => :admin, :action => :delete_user}, :method => :put ) do %>
<div id="prof-timesheet-list">
  <table class="listview">
    <thead>
      <tr>
        <th>
          Name
        </th>           
        <th>
          Prism ID
        </th>           
        <th>
          Account Type
        </th>
	<th>
	  Employee ID
	</th>           
	<th>
          Remove User
          
	  <input type="checkbox" name="select-all" id="select-all" />
        </th>
        <% end %>           
      </tr>
    </thead>
    <tbody>
      <% @user_list.each do |user| %>
      <tr>
        <td>
          <%= user.name %>
        </td>
        <td>
          <%= user.account %>
        </td>
        <td>
          <%= user.type%>
        </td>
	<td>
	  <%= user.employee_id %> 
	</td>
        <td>
          <%= check_box_tag user.id, "Remove" %>
        </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="submit-button">
  <%= submit_tag "Remove", :confirm => "Are you certain that you wish to remove these users? Their records will remain in the system, but neither they nor their timesheets will be shown." %>
</div>


<%= button_to "Delete", {:controller => "admin", :action => 'delete_user', :id => 2} %>
