
<p>Welcome <%= @user.name%> </p>
<% if(@timesheet_list.empty?) %>
<h1>No <%= @requested_status.downcase%> timesheets</hi>
<% else %>
<h1><%= @requested_status %> timesheets</h1>
<%= form_tag({:controller => :timesheets, :action => :update, :id => @timesheet_list.first}, :method => :put ) do %>
<div id="prof-timesheet-list">
  <table class="listview">
    <thead>
      <tr>
        <th>
          Name
        </th>           
        <th>
          Date
        </th>           
        <th>
          Hours
        </th>           
        <% if @requested_status == "Signed" %> 
	<th>
          Approve
        </th>
        <% end %>           
      </tr>
    </thead>
    <tbody>
      <% @timesheet_list.each do |timesheet| %>
      <tr>
        <td>
          <%= timesheet.student.name %>
        </td>
        <td>
          <%= link_to "#{timesheet.start_date}-#{timesheet.end_date}" , :controller => :timesheets, :action => :show, :id => timesheet.id%>
        </td>
        <td>
          <%= link_to timesheet.hours.to_s, :controller => :timesheets, :action => :show, :id => timesheet.id%>
        </td>
        <% if @requested_status == "Signed" %>
        <td>
          <%= check_box_tag timesheet.id, "Approved" %>
        </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
  <% if @requested_status == "Signed" %>
  <div class="submit-button">
    <%= submit_tag "Approve" %>
  </div>
  <% end %>
<% end %>
<% end %>
