
<p>Welcome <%= @user.name%> </p>
<% if(@timesheet_list.empty?) %>
  <% unless @requested_status.nil? %>
    <h1>No <%= @requested_status.downcase%> timesheets</hi>
  <% else %>
    <h1>No timesheets </h1>
  <% end %>
<% else %>
<h1><%= @requested_status %> timesheets</h1>
<div id="student-timesheet-list">
  <table class="listview">
    <thead>
      <tr>
        <th>
          Name
        </th>           
        <th>
          Date
        </th>           
        <th>
          Hours
        </th>           
      </tr>
    </thead>
    <tbody>
      <% @timesheet_list.each do |timesheet| %>
      <% if timesheet.status == "Disapproved" %>
        <tr style="background-color: yellow">
      <% else %>
        <tr>
      <% end %>
        <td>
          <%= timesheet.student.name %>
        </td>
        <td>
          <%= link_to "#{timesheet.start_date}-#{timesheet.end_date}", :controller => :timesheets, :action => :show, :id => timesheet.id%>
        </td>
        <td>
          <%= link_to timesheet.hours.to_s, :controller => :timesheets, :action => :show, :id => timesheet.id%>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
