<style type="text/css">
    input {
	width: 40px;
    }
    h3 {
	text-align: center;
    }
    #timesheet {
	width: 500px;
    }
    th {
	text-align: left;
    }
</style>
<div id="timesheet">
    <h3>
	<%= @user.name %> <br />
	<%= @timesheet.timesheet_entries[1].hours %>  
    </h3>
    <table width="100%">
	<tr>
	    <th />
	    <th> Thur </th>
	    <th> Fri </th>
	    <th> Sat </th>
	    <th> Sun </th>
	    <th> Mon </th>
	    <th> Tues </th>
	    <th> Wed </th>
	</tr>
	<tr>
	    <td> <%= @timesheet.start_date.to_s(:rfc822) %> - <%= (@timesheet.start_date + 6.days).to_s(:rfc822) %> </td>
	    <td> <input type="text"> </td>
	    <td> <input type="text"> </td> 
	    <td> <input type="text"> </td> 
	    <td> <input type="text"> </td> 
	    <td> <input type="text"> </td> 
	    <td> <input type="text"> </td> 
	    <td> <input type="text"> </td> 
	</tr>
	<tr>
	    <td> <%= (@timesheet.end_date - 6.days).to_s(:rfc822) %> - <%= @timesheet.end_date.to_s(:rfc822) %> </td>
	    <td> <input type="text"> </td>
	    <td> <input type="text"> </td> 
	    <td> <input type="text"> </td> 
	    <td> <input type="text"> </td> 
	    <td> <input type="text"> </td> 
	    <td> <input type="text"> </td> 
	    <td> <input type="text"> </td> 
	</tr>
    <table>
    <% end %>
</div>
