<ul>
  <li>
    <span>Timesheets</span>
  </li>
  <% if @user != nil  %>
    <% if@user.admin %>
      <li>
	<%= link_to "Admin", '/admin/index', :class=> "toollink"%>
      </li>
    <%end%>
    <% if @user.type == 'Student'  %>
      <li>
        <%= link_to "Current", @user.current_timesheet, :class => "toollink"%>
      </li>
      <li>
        <%= link_to "Drafts", timesheets_path(:status => "Draft"), :class => "toollink" %>
      </li>
    <% end %>
    <li>
      <%= link_to "Signed", timesheets_path(:status => "Signed"), :class => "toollink" %>
    </li>
    <li>
      <%= link_to "Approved", timesheets_path(:status => "Approved") , :class => "toollink"%>
    </li>
    <li>
      <%= link_to "Processed", timesheets_path(:status => "Processed"), :class => "toollink" %>
    </li>
  <% end %>
</ul>
