<ul>
  <li>
    <span>Timesheets</span>
  </li>
  <% unless @current_user.nil?  %>
    <% if @current_user.admin %>
      <li>
	<%= link_to "Admin", '/admin/index', :class=> "toollink"%>
      </li>
    <%end%>
    <% if @current_user.type == 'Student'  %>
      <li>
        <%= link_to "Current", @current_user.current_timesheet, :class => "toollink"%>
      </li>
    <% end %>
    <li>
      <%= link_to "Open", timesheets_path(:status => "Open"), :class => "toollink" %>
    </li>
    <li>
      <%= link_to "Signed", timesheets_path(:status => "Signed"), :class => "toollink" %>
    </li>
    <li>
      <%= link_to "Approved", timesheets_path(:status => "Approved") , :class => "toollink"%>
    </li>
    <li>
      <%= link_to "Processed", timesheets_path(:status => "Processed"), :class => "toollink" %>
    </li>
    <li>
      <%= link_to "Late", timesheets_path(:status => "Late"), :class => "toollink" %>
    </li>
  <% end %>
</ul>
